<?xml version="1.0" encoding="UTF-8" ?>

<state_machines xmlns="urn:schemas-workflux:statemachine:0.5.0">
    <state_machine name="{{ crate.vendor|snake }}_{{ crate.name|snake }}_{{ resource.name|snake }}_workflow_default">
        <initial name="edit" class="Workflux\State\VariableState">
            <event name="edit">
                <transition target="edit_task" />
            </event>
            <event name="promote">
                <transition target="published" />
            </event>
            <event name="delete">
                <transition target="deleted" />
            </event>
        </initial>

        <state name="published" class="Workflux\State\VariableState">
            <event name="edit">
                <transition target="edit_task" />
            </event>
            <event name="demote">
                <transition target="edit" />
            </event>
            <event name="delete">
                <transition target="deleted" />
            </event>
        </state>

        <state name="edit_task" class="Workflux\State\VariableState">
            <transition target="published">
                <guard class="Workflux\Guard\VariableGuard">
                    <option name="expression">current_state == "published"</option>
                </guard>
            </transition>
            <transition target="edit">
                <guard class="Workflux\Guard\VariableGuard">
                    <option name="expression">current_state == "edit"</option>
                </guard>
            </transition>
        </state>

        <final name="deleted" />
    </state_machine>
</state_machines>
